name: Build and Publish Helm charts
on: [push, pull_request, workflow_dispatch]
jobs:
  build_and_release:
    uses: Cray-HPE/hms-build-chart-workflows/.github/workflows/build_and_release_charts.yaml@CASMHMS-6042
    with:
      artifactory-component: cray-hms-canary
      artifactory-repo: spc-helm-charts
      additional-artifactory-repos: |
        ["csm-helm-charts"]
      target-branch: main
    secrets: inherit